# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.vscode


# Ignore everything in parent directories
../../../../*

# Allow specific project files
!OneDrive/Desktop/projects/chatApp/**

# Exclude OneDrive and Windows system files
*.lnk
*.ini
*.dat
*.mkv
/AppData/
/Contacts/
/Downloads/
/Favorites/
/Music/
/Videos/
/Pictures/
/Saved Games/
/Searches/
